<div class="card" style="width: 18rem;" style="position: absolute; left:45%; top:45%;" >
    <h5 class="card-header">Consulta de Cep</h5>
    <div class="card-body">
        <form [formGroup]=loginForm (submit)="logar()">
            <div class="form-group">
                <label for="txUsuario">Usuário</label>
                <input type="text" formControlName="txUserName" class="form-control" id="txUsuario">
                <small id="usuarioHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="ptxSenha">Senha</label>
                <input type="password" formControlName="txSenha" class="form-control" id="ptxSenha">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        </form>
        </div>
</div>
