<div class="input-group mb-3">
    <form>
        <div class="form-group">
        <label for="txUsuario">Usuário</label>
        <input type="text" class="form-control" id="txUsuario" aria-describedby="emailHelp">
        <small id="usuarioHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
        <label for="ptxSenha">Senha</label>
        <input type="password" class="form-control" id="ptxSenha">
        </div>
        <button type="button" class="btn btn-primary">Entrar</button>
    </form>
</div>